@model List<riode.Models.Entities.Contact>

@{
    ViewData["Title"] = "Detail";
}

<div style="padding:0;margin-left:240px" class="container d-flex flex-column align-items-center justify-content-around">
    <h1>Comment Detail</h1>
</div>

